<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Ajax 메일 발송 연습</h2>
    <form id="calc" method="get" th:action="@{/my_calc}">
        <div>
            <label for="x_value">x: </label>
            <input type="number" name="x_value" id="x_value" />
        </div>
        <div>
            <label for="y_value">발신이메일: </label>
            <input type="email" name="y_value" id="y_value" />
        </div>
        <hr />
        <input type="submit" value="확인" />
    </form>

</body>
</html>