<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/assets/css/common.css}" />
</head>
<body>
    <div th:replace="~{fragments/header :: my-header}"></div>

    <h2>학생관리</h2>
    <hr />
    <table class="mytable">
        <colgroup>
            <col width="150" />
            <col />
        </colgroup>
        <tbody>
            <tr>
                <th>학생번호</th>
                <td class="text-left" th:text="${student.studno}"></td>
            </tr>
            <tr>
                <th>학생이름</th>
                <td class="text-left" th:text="${student.name}"></td>
            </tr>
            <tr>
                <th>학생아이디</th>
                <td class="text-left" th:text="${student.userid}"></td>
            </tr>
            <tr>
                <th>학년</th>
                <td class="text-left" th:text="${student.grade}"></td>
            </tr>
            <tr>
                <th>주민번호</th>
                <td class="text-left" th:text="${student.idnum}"></td>
            </tr>
            <tr>
                <th>생년월일</th>
                <td class="text-left" th:text="${student.birthdate}"></td>
            </tr>
            <tr>
                <th>연락처</th>
                <td class="text-left" th:text="${student.tel}"></td>
            </tr>
            <tr>
                <th>신장</th>
                <td class="text-left" th:text="${student.height}"></td>
            </tr>
            <tr>
                <th>체중</th>
                <td class="text-left" th:text="${student.weight}"></td>
            </tr>            <tr>
                <th>학과번호</th>
                <td class="text-left" th:text="${student.deptno}"></td>
            </tr>            <tr>
                <th>담당교수번호</th>
                <td class="text-left" th:text="${student.profno}"></td>
            </tr>
        </tbody>
    </table>
    <div class="button-container">
        <a th:href="@{/student}" class="mybutton green">목록보기</a>
        <a th:href="@{/student/edit/{studno}(studno=${student.studno})}" class="mybutton blue">수정</a>
        <a th:href="@{/student/delete/{studno}(studno=${student.studno})}" class="mybutton red">삭제</a>
    </div>
    
</body>
</html>