<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/assets/css/common.css}" />
</head>
<body>
    <div th:replace="~{fragments/header :: my-header}"></div>

    <h2>학생관리</h2>
    <hr />
    <div class="button-container search-field">
        <form method="get" th:action="@{/student}">
            <input type="search" name="keyword" placeholder="이름 or 아이디 검색" th:value="${keyword}" />
            <button type="submit" class="mybutton gray">검색</button>
        </form>
        <a th:href="@{/student/add}" class="mybutton blue">새 학생 등록</a>
    </div>
    <table class="mytable">
        <thead>
            <tr>
                <th>학생번호</th>
                <th>학생이름</th>
                <th>학생아이디</th>
                <th>학년</th>
                <th>주민번호</th>
                <th>생년월일</th>
                <th>연락처</th>
                <th>신장</th>
                <th>체중</th>
                <th>학과이름</th>
                <th>담당교수이름</th>
                <th>-</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.studno}"></td>
                <!--
                    QueryString 파라미터 설정
                    @{/hello/(param1=${변수1}, params2=#{변수2})}
                    => /hello/?param1=변수1&param2=변수2

                    path 파라미터 설정
                    @{/hello/{param1}/{param2}(param1=${변수1}, param2=${변수2})}
                    => /hello/변수1/변수2

                    path 파라미터 + 쿼리 파라미터가 포함된 URL
                    @{/hello/{param1}(param1=${변수1}, param2=${변수2})}
                    => /hello/변수1?param2=변수2
                -->
                <td><a th:href="@{/student/detail/{studno}(studno=${student.studno})}"
                    th:text="${student.name}" /></td>
                <td th:text="${student.userid}"></td>
                <td th:text="${student.grade}"></td>
                <td th:text="${student.idnum}"></td>
                <td th:text="${student.birthdate}"></td>
                <td th:text="${student.tel}"></td>
                <td th:text="${student.height}"></td>
                <td th:text="${student.weight}"></td>
                <td th:text="${student.dname}"></td>
                <td th:text="${student.pname}"></td>
                <td>
                    <a th:href="@{/student/edit/{studno}(studno=${student.studno})}">수정</a>
                    <a th:href="@{/student/delete/{studno}(studno=${student.studno})}">삭제</a>        
                </td>
            </tr>
        </tbody>
    </table>

     <!-- 페이지 번호 -->
     <ul class="pagination">
        <li th:if="${pagination.prevPage > 0}">
            <a th:href="@{/professor(keyword=${keyword}, page=${pagination.prevPage})}">&laquo;</a>
        </li>
        <li th:unless="${pagination.prevPage > 0}"><a>&laquo;</a></li>

        <!-- 페이지 번호 링크 -->
        <li th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
            <a th:if="${i == pagination.nowPage}" class="active" th:text="${i}" />
            <a th:unless="${i == pagination.nowPage}" th:text="${i}"
                th:href="@{/professor(keyword=${keyword}, page=${i})}" />
        </li>

        <!-- 다음 페이지 그룹 이동 버튼 -->
        <li th:if="${pagination.nextPage > 0}">
            <a th:href="@{professor(keyword=${keyword}, page=${pagination.nextPage})}">&raquo;</a>
        </li>
        <li th:unless="${pagination.nextPage > 0}"><a>&raquo;</a></li>
    </ul>
</body>
</html>