<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/assets/css/common.css}" />
</head>
<body>
    <div th:replace="~{fragments/header :: my-header}"></div>

    <h2>학생관리</h2>
    <hr />
    <table class="mytable">
        <thead>
            <tr>
                <th>학생번호</th>
                <th>학생이름</th>
                <th>학생아이디</th>
                <th>학년</th>
                <th>주민번호</th>
                <th>생년월일</th>
                <th>연락처</th>
                <th>신장</th>
                <th>체중</th>
                <th>학과번호</th>
                <th>담당교수번호</th>
                <th>-</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.studno}"></td>
                <!--
                    QueryString 파라미터 설정
                    @{/hello/(param1=${변수1}, params2=#{변수2})}
                    => /hello/?param1=변수1&param2=변수2

                    path 파라미터 설정
                    @{/hello/{param1}/{param2}(param1=${변수1}, param2=${변수2})}
                    => /hello/변수1/변수2

                    path 파라미터 + 쿼리 파라미터가 포함된 URL
                    @{/hello/{param1}(param1=${변수1}, param2=${변수2})}
                    => /hello/변수1?param2=변수2
                -->
                <td><a th:href="@{/student/detail/{studno}(studno=${student.studno})}"
                    th:text="${student.name}" /></td>
                <td th:text="${student.userid}"></td>
                <td th:text="${student.grade}"></td>
                <td th:text="${student.idnum}"></td>
                <td th:text="${student.birthdate}"></td>
                <td th:text="${student.tel}"></td>
                <td th:text="${student.height}"></td>
                <td th:text="${student.weight}"></td>
                <td th:text="${student.deptno}"></td>
                <td th:text="${student.profno}"></td>
                <td>
                    <a href="#">수정</a>
                    <a href="#">삭제</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>